{% from "ssldecrypt/init.sls" import br0_ip, br0_netmask with context %}
brctl addbr br0
brctl addif br0 p1p1
brctl addif br0 p2p1
ifconfig br0 up
ifconfig br0 {{ br0_ipaddr }} netmask {{ br0_netmask }}
modprobe br_netfilter
sysctl -p

iptables -t nat -F
iptables -t mangle -F
iptables -F

iptables -t nat -A PREROUTING -i br0 -p tcp ! -s $br0_ip/32 ! -d $br0_ip/32 --dport 443 -j DNAT --to $br0_ip:8443

iptables-save
