{% from "ssldecrypt/init.sls" import br0_ipaddr, br0_netmask with context %}
iptables -t nat -F
iptables -t mangle -F
iptables -F

iptables -t nat -A PREROUTING -i br0 -p tcp ! -s {{ br0_ipaddr }}/32 ! -d {{ br0_ipaddr }}/32 --dport 443 -j DNAT --to {{ br0_ipaddr }}:8443

#iptables-save
