{% import 'postgresql/postgres-slave/slave-map.sls' as slave with context %}
#/etc/postgresql/9.4/main/pg_hba.conf
local   all             postgres                                peer
local   all             all                                     peer
host    all             all             127.0.0.1/32            md5
host    all             all             ::1/128                 md5

# host    replication     <User-replication>     IP_address_of_master/32  md5
host    replication      postgres    {{ slave.ip_pg_master }}/32   md5
host    all              all         0.0.0.0/0               md5
