#postgresql.conf
{% from "postgresql/postgres-slave/slave-map.sls" import ip_pg_master, ip_pg_slave with context %}

listen_addresses = 'localhost,{{ ip_pg_slave }}'
wal_level = 'hot_standby'
archive_mode = on
archive_command = 'cd .'
max_wal_senders = 1
hot_standby = on
unix_socket_directories='/var/run/postgresql'
