#This is master configuration postgresql.confip_pg_slave
{% import 'postgresql/postgres-master/master-map.sls' as master with context %}

listen_addresses = 'localhost,{{ master.ip_pg_master }}'
wal_level = 'hot_standby'
archive_mode = on
archive_command = 'cd .'
max_wal_senders = 1
hot_standby = on
#unix_socket_directories='/var/run/postgresql'
